body{
background-image: linear-gradient(to right, white, pink);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
background: #333;
color:white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
margin: 0 10px 10px 10px;
border-radius: 10px;
box-shadow: black 0 0 10px;
}

header nav ul{
list-style: none;
display: flex;
align-items: center;
gap: 10px;
}
header nav ul li a{
text-decoration: none;
color: white;
font-size: 1.2em;
padding:10px;
transition: 0.5s;
border-radius: 10px;
}
header nav ul li a:hover{
background-color: #555;
}
header input{
padding: 5px;
}

/*Hero             */ 
.hero{
background-image: url(./one.jpeg);
background-size: cover;
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
border-radius: 10px;
box-shadow: black 0 0 10px;
}
.title{
font-size: 2.5em;
color: white;
display: flex;
flex-direction: column;
gap: 10px;
padding: 20px;
backdrop-filter: blur(10px);
transition: 0.5s;
border-radius: 20px;
}
.title:hover{
padding: 50px;
box-shadow: white 0 0 30px;

}
/* product             */

.product-list{
padding: 50px;
text-align: center;
box-shadow: black 0 0 10px;
border-radius: 10px;
margin: 10px;
}
.product-grid{
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: space-evenly;
margin: 10px;
border-radius: 10px;
}
.product-list h2{
margin-bottom: 50px;
}
.product{
display: flex;
flex-direction: column;
justify-content: space-evenly;
width: 250px;
height: 350px;
align-items: center;
box-shadow: black 0 0 5px;
padding: 10px;
box-shadow: black 0 0 10px;
transition: 0.5s;

}
.product:hover{
padding: 30px;
box-shadow: black 0 0 30px;
}
img{
width: 100%;
height: auto;
}
.product button{
color: white;
background-color: blue;
padding: 10px;
width: 100%;
border:none;
}
.product {
font-size: 1.3em;
}

/*footer 				*/
footer{
background-color: black;
text-align:center;
color: white;
padding: 50px 20px;
margin: 10px;
border-radius: 10px;
box-shadow: black 0 0 10px;
border-radius: 10px;


}